################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BOCMain/.vs/BOCMain/v14
/BOCMain/bin/Debug
/BOCMain/obj/Debug
